/********************************************
*  Defaults                                    *
********************************************/
/**
 * defaults are set inside the selector to prevent post-css
 * from trying to resolve these variables.
 */
.baseline {
  font-size: calc(var(--basesize) * 1px);
  --basesize: 16;
  --capsize: 1;
  --baseline: 20;
  --basegap: calc((var(--baseline) - var(--capsize) * var(--basesize)));
  --font-size-ifBiHthIAc: var(--basesize);
  --line-height-8gj2jqUaCm: calc(var(--baseline) / var(--font-size-ifBiHthIAc));
}

.baseline * {
  --margin-top-aa: 0px;
  --margin-bottom-ab: 0px;
  --padding-top-ac: 0px;
  --padding-bottom-ad: 0px;
  padding-top: var(--padding-top-ac);
  padding-bottom: var(--padding-bottom-ad);
  margin-top: var(--margin-top-aa);
  margin-bottom: var(--margin-bottom-ab);
  font-size: calc(var(--font-size-ifBiHthIAc) * 1px);
}

.baseline body {
  line-height: var(--line-height-8gj2jqUaCm);
  font-size: calc(var(--font-size-ifBiHthIAc) * 1px);
}

/********************************************
*  LOGIC                                    *
********************************************/
.baseline h1,
.baseline h2,
.baseline h3,
.baseline h4,
.baseline h5,
.baseline h6,
.baseline p,
.baseline pre,
.baseline blockquote,
.baseline ul,
.baseline ol,
.baseline figure,
.baseline label,
.baseline fieldset {
  --diff-qygOecGQKF: calc((var(--line-height-8gj2jqUaCm) - 1) * var(--font-size-ifBiHthIAc) * var(--capsize));
  --padding-top-ac: calc(var(--diff-qygOecGQKF) * 1px);
  --margin-top-aa: calc(var(--basegap) * -1px);
}

.baseline h1,
.baseline h2,
.baseline h6,
.baseline p,
.baseline pre,
.baseline blockquote,
.baseline ul,
.baseline ol,
.baseline figure,
.baseline label,
.baseline fieldset {
  --margin-bottom-ab: calc((var(--baseline) + var(--basegap)) * 1px - var(--padding-top-ac));
}

.baseline h1,
.baseline h2,
.baseline h3,
.baseline h4,
.baseline h5 {
  --font-size-ifBiHthIAc: calc(var(--basesize) * var(--multiplier-0dmju9Dh5F));
}

.baseline h1,
.baseline h2 {
  --line-height-8gj2jqUaCm: calc(var(--baseline) * var(--multiplier-0dmju9Dh5F) / var(--font-size-ifBiHthIAc));
}

.baseline h3,
.baseline h4,
.baseline h5 {
  --line-height-8gj2jqUaCm: calc(var(--baseline) * 2 / var(--font-size-ifBiHthIAc));
  --margin-bottom-ab: calc((var(--baseline) * (3 - var(--multiplier-0dmju9Dh5F)) + var(--basegap)) * 1px - var(--padding-top-ac));
}

.baseline img {
  display: block;
  --margin-top-aa: calc(var(--basegap) * -1px);
  --margin-bottom-ab: calc(var(--basegap) * 1px);
}

.baseline h1 {
  --multiplier-0dmju9Dh5F: 4;
}

.baseline h2 {
  --multiplier-0dmju9Dh5F: 3;
}

.baseline h3 {
  --multiplier-0dmju9Dh5F: 1.75;
}

.baseline h4 {
  --multiplier-0dmju9Dh5F: 1.5;
}

.baseline h5 {
  --multiplier-0dmju9Dh5F: 1.25;
}
